<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoodLink</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/auth/loginUser/images/icons/favicon.ico}" type="image/png">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/auth/loginUser/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/auth/loginUser/css/main.css}" type="text/css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img alt="IMG" th:src="@{/auth/loginUser/images/Logo.jpeg}">
            </div>

            <form class="login100-form validate-form" th:action="@{/auth/login}" th:method="post">
					<span class="login100-form-title">
						Entrar na Conta
					</span>

                <div class="wrap-input100 validate-input" data-validate="Valid cnpj is required: XX.XXX.XXX/0001-XX">
                    <input class="input100" maxlength="15" name="username" onblur="checkCNPJ(this)" onfocus="clearFeedback('error')"
                           oninput="formatCNPJ(this)" placeholder="Cnpj" type="text">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i aria-hidden="true" class="fa fa-envelope"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" name="password" placeholder="Password" type="password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
                </div>

                <div class="wrap-input100 remember">
                    <input id="remember-me" name="remember-me" placeholder="Remember" type="checkbox">
                    <span>
							Lembre-se
						</span>
                </div>

                <div th:if="${param.error}">
                    <p style="color: red;">Usuário ou senha inválidos!</p>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" th:href="@{/auth/displayRegister}">
                        Crie sua conta
                        <i aria-hidden="true" class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:src="@{/auth/loginUser/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/auth/loginUser/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/auth/loginUser/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/auth/loginUser/vendor/select2/select2.min.css}"></script>
<!--===============================================================================================-->
<script th:src="@{/auth/loginUser/vendor/tilt/tilt.jquery.min.js}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/auth/loginUser/js/main.js}"></script>

</body>
</html>