<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/menu/css/styles.css}">

    <title>Painel de Navegação</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/dashboard}">Home</a>
    <a th:href="@{/restaurant/donation}" sec:authorize="hasRole('ROLE_RESTAURANTE')">Doar Alimentos</a>
    <a th:href="@{/ong/viewdonations}" sec:authorize="hasRole('ROLE_ONG')">Visualizar Doações</a>
    <a th:href="@{/dashboard/statistics}" sec:authorize="hasRole('ROLE_RESTAURANTE')">Ver Estatísticas</a>


    <a th:href="@{/logout}">Sair</a>
</div>

<div class="container">
    <h1>Bem-vindo ao Painel</h1>

    <div class="content">
        <h2>Escolha uma opção para continuar:</h2>

        <div sec:authorize="hasRole('ROLE_ONG')">
            <div class="buttonposition">
                <a th:href="@{/ong/viewdonations}" class="button">Visualizar Doações Disponíveis</a>
                <a th:href="@{/ong/mydonations}" class="button">Minhas Doações Aceitas</a>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_RESTAURANTE')">
            <div class="buttonposition">
                <a th:href="@{/restaurant/donation}" class="button">Criar Doação</a>
                <a th:href="@{/restaurant/mydonations}" class="button">Minhas Doações Realizadas</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <span id="hora"></span>
</div>

<script th:src="@{/menu/js/script.js}"></script>
</body>
</html>
